.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 60px;
  padding: 5px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-list {
  display: none;
}
.header .header-btn {
  display: none;
}
.header .bi.bi-list {
  color: #d41443;
  font-size: 25px;
}