$color-pink: #ffb8ca;
$color-pink-socials: #ffa4b5;
$color-beige: #f0d1a5;
$color-green: #c2e297;
$color-text-red: #d41443;
$color-text-white: #ffffff;
$color-dots: #ffffff;
$color-pink-text: #FFA5BA;
$color-pink-bg: #FFF5F6;
$color-black: #000000;
$color-light-text: #907E82;
$color-btn-hover: #ECEBEB;

.hero2 {
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/image/hero-cow-phone.webp);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-color: $color-pink;
    padding-top: 75px;
    padding-bottom: 27px;
    text-align: center;

    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-holder {
        @media (max-width: 767px) {
            padding-block: 50px;
            width: 287px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .title {
            color: $color-text-red;
            font-size: 34px;
            font-family: "Titan One";
            margin-bottom: 22px;
        }

        .text--light {
            color: $color-dots;
            font-size: 16px;
            font-family: "DM Sans";
            font-weight: bold;
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        .hidden-text {
                display: none;
            }

        .btn {           
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            border-radius: 22px;
            padding: 10px 50px;            
            background-color: $color-text-red;
            color: $color-text-white;
            display: inline-block;
            transition: transform 0.5s ease-out;

            &:hover {                
                color: #ffd2d2;
                transform: scale(1.07);
            }
        }
    }
}

@media (min-width:768px) {
    .hero2 {
        height: 586px;
        background-image: url(/image/hero-cow-tablet.webp);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        padding: 142px 40px 67px 40px;
        text-align: start;

        .text-holder {
            margin-left: 34px;

            .title {
                font-size: 48px;
                margin-bottom: 28px;
            }

            .text--light {
                max-width: 336px;
            }

            .hidden-text {
                display: flex;
                margin-bottom: 23px;
            }
        }   
    }
}

@media (min-width:1024px) {
    .hero2 {
        height: 553px;
        background-image: url(/image/hero-cow-laptop.webp);
        background-repeat: no-repeat;
        background-position: right -150px bottom 0;
        background-size: 756px 603px;
        text-align: start;

        .text-holder {
            margin-left: 115px;

            .title {
                font-size: 48px;
                margin-bottom: 28px;
            }

            .text--light {
                max-width: 446px;
            }

            .hidden-text {
                display: flex;
                margin-bottom: 24px;
            }
        }   
    }
}