body {
    width: 100%;
}

.hero {
    width: 100%;
    height: 502px;
    background: RGBA(255, 165, 186, 1);
    background: radial-gradient(circle at 70% 50%,
        rgba(255, 165, 186, 1) 50%,
        rgba(255, 184, 202, 1) 15%);
    padding: 5px;

    @media (min-width: 768px) {
        background: radial-gradient(circle at 60% 45%,
            rgba(255, 165, 186, 1) 30%,
            rgba(255, 184, 202, 1) 15%);
        height: 399px;
        padding: 80px 20px 0 20px;
    }

    .hero--container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("../images/icecream.webp") center / cover no-repeat;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .hero-left {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .title-holder {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                width: 218px;
                font-family: "Titan One", sans-serif;
                font-weight: 400;
                font-size: 26px;
                line-height: 100%;
                letter-spacing: 4%;
                color: white;

                @media (min-width: 768px) {
                    font-size: 22px;
                    width: 162px;
                }

                span {
                    font-size: 48px;
                    line-height: 96%;
                    letter-spacing: 0%;
                    color: $color-text-red;

                    @media (min-width: 768px) {
                        font-size: 34px;
                    }
                }
            }
        }


        .btn {
            font-family: "DM Sans", sans-serif;
            font-weight: 400;
            font-size: 8px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            background-color: $color-text-white;
            color: $color-text-red;
            padding: 8px 15px;
            border-radius: 20px;
        }

        .pink--btn {
            background-color: $color-text-red;
            color: $color-text-white;
        }
    }

    
    .milk-holder {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .milk {
                width: 124px;
                height: 126px;
            }

            .hero-text {
                font-family: "DM Sans", sans-serif;
                font-weight: 300;
                font-size: 8px;
                line-height: 150%;
                letter-spacing: 0%;
                color: $color-text-white;
                margin-bottom: 5px;
            }

            .milk-right-side {
                width: 114px;
            }

            .milk--btn {
                font-size: 10px;
                padding: 5px;
                border-radius: 50%;
            }
        }
    }

    .hero-right {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;

            .tasty-woman {
                width: 168px;
                height: 133px;
            }
        }
    }
}
