$color-pink: #ffb8ca;
$color-pink-socials: #ffa4b5;
$color-beige: #f0d1a5;
$color-green: #c2e297;
$color-text-red: #d41443;
$color-text-white: #ffffff;
$color-dots: #ffffff;
$color-pink-text: #FFA5BA;
$color-pink-bg: #FFF5F6;
$color-black: #000000;
$color-light-text: #907E82;
$color-btn-hover: #ECEBEB;

.howmade {
	width: 100%;
	height: 1688px;
	display: flex;
	flex-direction: column;
	background-color: $color-pink-bg;
	padding: 10px 10px 0px 10px;

	&--container {
		width: 100%;
	}

	.title-holder {
		display: flex;
		gap: 15px;
		margin-top: 125px;
		flex-direction: column;
		text-align: center;

		.how-made--subtitle {
			color: $color-pink-text;
			font-size: 18px;
			font-family: "Titan One";
		}

		.how-made--title {
			color: $color-text-red;
			font-size: 34px;
			font-family: "Titan One";
		}
	}

	.cow-info {
		padding: 15px;

		.cow-img {
			max-width: 100%;
			height: auto;
		}

		.text-holder {
			font-size: 12px;
			font-family: "DM Sans";
			font-weight: 500;
			line-height: 162%;
			letter-spacing: 0%;
						
			.text--bold {
				color: $color-black;
				margin-bottom: 25px;
			}

			.text--light {
				color: $color-light-text;
				margin-bottom: 10px;
			}

			.read-more-link {
        		font-family: "DM Sans", sans-serif;
        		font-weight: 700;
        		font-size: 14px;
				background-color: white;
				border-radius: 22px;
				padding: 10px 40px;
				color: $color-text-red;
				margin-bottom: 30px;

				&:hover {
					background-color: $color-btn-hover;
				}
			}
		}
	}

	.numbers-holder {
		display: flex;
		gap: 38px;
		flex-direction: column;
		margin-bottom: 145px;

		.number {
			width: 230px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.udder {
				width: 33px;
				height: 50px;
			}

			.apples {
				width: 50px;
				height: 50px;
			}

			.heart {
				width: 44px;
				height: 50px;
			}

			.title {
				font-size: 36px;
				color: $color-text-red;
				font-family: "Titan One";
			}

			.text--bold {
				font-size: 12px;
				font-family: "DM Sans", sans-serif;
				color: $color-black;
				font-weight: 700;
				line-height: 170%;
				letter-spacing: 2%;

			}
		}
	}
}

@media (min-width: 768px) {
	.howmade {
		width: 100%;
		height: 1240px;

		.title-holder {
			margin-top: 130px;

			.how-made--subtitle {
				font-size: 26px;
			}

			.how-made--title {
				font-size: 48px;
			}
		}

		.cow-info {
			display: flex;
			flex-direction: row;
			gap: 17px;

			.cow-img {
				width: 340px;
				height: 339px;
				margin-top: 50px;
			}

			.text-holder {
				margin-top: 100px;
				line-height: 176%;

				.text--bold {
					font-size: 14px;
				}

				.text--light {
					font-size: 14px;
				}

				.read-more-link {
					font-size: 16px;
				}
			}
		}

		.numbers-holder {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 60px;

			.number {
				margin-bottom: 242px;

				.udder {
					width: 33px;
					height: 50px;
					margin-bottom: 30px;
				}

				.apples {
					width: 50px;
					height: 50px;
					margin-bottom: 30px;
				}

				.heart {
					width: 44px;
					height: 50px;
					margin-bottom: 30px;
				}

				.title {
					font-size: 48px;
				}

				.text--bold {
					font-size: 14px;
					line-height: 174%;
				}
			}
		}
	}
}

@media (min-width:1024px) {
	.howmade {
		width: 100%;
		height: 1382px;
		background-image: url(/image/spilled-milk.webp);
		background-repeat: no-repeat;
		background-position: 0% 35%;
		background-size: 100%;

		.title-holder {
			margin-top: 125px;

			.how-made--subtitle {
				font-size: 30px;
			}

			.how-made--title {
				font-size: 58px;
			}
		}

		.cow-info {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			gap: 74px;

			.cow-img {
				width: 516px;
				height: 516px;
				margin-top: 55px;
			}

			.text-holder {
				margin-top: 106px;

				.text--bold {
					font-size: 16px;
				}
			}
		}

			.numbers-holder {
				padding: 50px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.number {
					margin-bottom: 310px;
					width: 270px;

					.udder {
						width: 33px;
						height: 50px;
					}

					.apples {
						width: 50px;
						height: 50px;
					}

					.heart {
						width: 44px;
						height: 50px;
					}

					.title {
						font-size: 58px;
					}

					.text--bold {
						font-size: 16px;
						line-height: 176%;
						letter-spacing: 2%;
					}
				}
			}
	}
}