.lastStep{
    padding-block: 134px;
    text-align: center;
    display: flex;
    padding-inline: 23px;

    &--title {
        color: $color-text-red;
        font-size: 34px;
        font-family: "Titan One";
        margin-bottom: 38px;
    }

    &--paragraph {
        p {
            font-family: "DM Sans";
            font-size: 16px;
        }
    }

    &--text {
        font-family: "DM Sans";
        font-size: 16px;

    }

    &--text--grey {
        color: #907E82;
    }

    &--icecream{
        display: none;
    }
}

@media (min-width: 768px) {
    .lastStep{
        display: flex;
        flex-direction: row;
        text-align: start;

        &--paragraph{
            width: 300px;
        }

        &--icecream{
        display: block;
        width: 257px;
        }
    }
}