.products--container {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	@media (min-width: 1024px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.products--subtitle {
	font-family: 'Titan One', cursive;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	color: #ffa3b1;
	margin-bottom: 15px;
	@media (min-width: 1024px) {
		font-size: 22px;
		margin-bottom: 16px;
	}
}

.products--title {
	font-family: 'Titan One', cursive;
	font-size: 34px;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
	color: #d41443;
	letter-spacing: 0.04em;
	margin: 0;
	@media (min-width: 1024px) {
		font-size: 48px;
		margin-bottom: 60px;
	}
}
.products-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		gap: 24px;
	}
	@media (min-width: 1024px) {
		gap: 32px;
	}
}
.product {
	position: relative;
	width: 280px;
	margin-top: 60px;
	padding: 160px 20px 40px;
	border-radius: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 768px) {
		width: calc((100% - 48px) / 3);
		margin-top: 80px;
		padding: 140px 20px 40px;
	}
	@media (min-width: 1024px) {
		width: 330px;
		padding: 165px 40px 40px;
		margin-top: 100px;
	}
	&--pink {
		background-color: #ffb8ca;
	}
	&--beige {
		background-color: #f0d1a5;
	}
	&--green {
		background-color: #c2e297;
	}

	&-img {
		position: absolute;
		top: -60px;
		left: 50%;
		transform: translateX(-50%);
		width: 200px;
		filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
		@media (min-width: 768px) {
			width: 180px;
			top: -70px;
		}
		@media (min-width: 1024px) {
			width: 250px;
			top: -100px;
		}
	}

	&-title {
		font-family: 'Titan One', cursive;
		font-size: 20px;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 10px;
		@media (min-width: 1024px) {
			font-size: 24px;
		}
	}

	&-dots {
		color: #ffffff;
		font-size: 20px;
		margin-bottom: 15px;
		line-height: 1;
	}

	&--text {
		font-size: 14px;
		line-height: 1.6;
		color: #ffffff;
		margin-bottom: 25px;
		font-weight: 400;
		@media (min-width: 768px) {
			font-size: 12px;
		}
		@media (min-width: 1024px) {
			font-size: 14px;
			line-height: 1.7;
		}
	}

	&--btn {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: none;
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 10px;
		transition: transform 0.8s ease-out;
		& i {
			color: #ffb7c5;
			font-size: 24px;
		}

		&:hover {
			transform: translate(5px, -5px) rotate(-45deg);
		}
	}
	&--pink &--btn i {
		color: $color-text-red;
	}
	&--beige &--btn i {
		color: $color-text-red;
	}
	&--green &--btn i {
		color: $color-text-red;
	}
}

body.no-scroll {
	overflow: hidden;
}
.modal-qq {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	justify-content: center;
	align-items: center;

	&-content {
		background: #ff0033;
		border-radius: 20px;
		padding: 30px;
		width: 600px;
		position: relative;
		color: #fff;
	}

	.close-btn {
		position: absolute;
		top: 15px;
		right: 20px;
		font-size: 28px;
		cursor: pointer;
	}

	&-inner {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&-left img {
		width: 200px;
		border-radius: 50%;
	}

	&-right {
		h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		ul {
			margin-bottom: 20px;

			li {
				list-style: disc;
				margin-left: 20px;
			}
		}

		p {
			font-size: 14px;
			line-height: 1.4;
		}
	}
}