.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-top: 154px;
    padding-bottom: 180px;
    text-align: center;

    &-photo{
        width: 85px;
    }

    &-paragraph{
        width: 280px;
        height: 308px;
        display: block;
        background-image: url("../images/bg-reviews.webp");
        padding: 80px 50px 50px 50px;
        margin-block: 40px;
        font-weight: 600;
    }

    &--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bi-three-dots{
        color: $color-text-red;
    }

    .reviews-dots {
        display: flex;
        gap: 15px;
    }

    .bi-circle-fill{
        font-size: 10px;
        color: #D9D9D9;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
            color: $color-text-red;
        }
    }
}


@media (min-width: 768px) {
    .reviews{
        &-paragraph{
            width: 620px;
            height: 164px;
            padding: 50px 58px;
            margin-block: 20px;
        }
    }
}

@media (min-width: 1024px) {
    .reviews{
        &-paragraph{
            width: 926px;
            height: 138px;
            margin-block: 15px;
            
        }
    }
}
