.no-scroll {
    overflow: hidden;
}

.backdrop-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(124, 103, 103, 0.563);
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.backdrop-header.is-hidden-header {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgba(225, 121, 146, 1);
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);
    transform: translateX(100%);
    transition: transform 0.4s ease;

    &--holder {
        width: 100%;
    }
}

.backdrop-header:not(.is-hidden-header) .modal-header {
    transform: translateX(0);
}

.btn-close-header {
    display: flex;
    justify-self: end;
    background: none;
    border: none;
    color: white;
}

.header-link {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        color: $color-text-red;
    }
}

.listik {
    background: none;
    border: none;
    font-size: 25px;
    color: $color-text-red;

    @media (min-width: 1024px) {
        display: none;
    }
}