.modal--loc {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content--loc {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 600px;
    max-width: 600px;
    height: 350px;
    position: relative;
    animation: modalOpen 0.3s;
}

.close-btn--loc {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes modalOpen {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}






// .modal-loc {
//     display: none;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.6);
//     justify-content: center;
//     align-items: center;
// }

// .modal-content {
//     background: linear-gradient(135deg, #fff4f4, rgb(252, 232, 232));
//     position: relative;
//     max-width: 680px;
//     height: 440px;
//     border-radius: 50px;
//     padding: 30px 50px;

//     .modalka {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         &-left {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//         }

//         &-right {
//             height: 120%;
//         }

//         &--title {
//             font-family: "Titan One", cursive;
//             font-weight: 400;
//             font-size: 58px;
//             line-height: 100%;
//             letter-spacing: 4%;
//             text-align: right;
//             color: $color-text-red;
//         }

//         &--text {
//             font-family: "DM Sans", sans-serif;
//             font-weight: 700;
//             font-style: Bold;
//             font-size: 16px;
//             line-height: 176%;
//             letter-spacing: 4%;
//             color: rgba(0, 0, 0, 1);
//             margin-top: 35px;
//         }
//     }

//     .path-img {
//         width: 90%;
//         height: 85%;
//     }
// }

// #closeModal-loc {
//     position: absolute;
//     top: 10px;
//     right: 15px;
//     cursor: pointer;
//     font-size: 20px;
// }






// .backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.582);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: opacity 0.3s ease;
// }

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }

// .modal {
//     position: relative;
//     background-color: rgb(0, 0, 0);
//     padding: 20px;
//     border-radius: 12px;
//     width: 600px;
//     height: 400px;

//     h2 {
//         color: red;
//     }
// }

// .btn-close {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     background: transparent;
//     border: none;
//     font-size: 24px;
//     cursor: pointer;
// }