$color-pink: #ffb8ca;
$color-pink-socials: #ffa4b5;
$color-beige: #f0d1a5;
$color-green: #c2e297;
$color-text-red: #d41443;
$color-text-white: #ffffff;
$color-dots: #ffffff;
$color-pink-text: #FFA5BA;
$color-pink-bg: #FFF5F6;
$color-black: #000000;
$color-light-text: #907E82;
$color-btn-hover: #ECEBEB;

.runaway-btn {
    padding: 12px 24px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border-radius: 22px;
    padding: 12px 20px;    
    background-color: $color-text-white;
    color: $color-text-red;

    @media (min-width: 768px) {
        padding: 12px 30px;
    }
}

.runaway-btn.is-free {
    position: absolute;
    z-index: 9999;
    transform: translate(0, 0);
    transition: left 0.1s, top 0.1s;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border-radius: 22px;
    padding: 12px 20px;    
    background-color: $color-text-white;
    color: $color-text-red;
}