$color-pink: #ffb8ca;
$color-pink-socials: #ffa4b5;
$color-beige: #f0d1a5;
$color-green: #c2e297;
$color-text-red: #d41443;
$color-text-white: #ffffff;
$color-dots: #ffffff;
$color-pink-text: #FFA5BA;
$color-pink-bg: #FFF5F6;
$color-black: #000000;
$color-light-text: #907E82;
$color-btn-hover: #ECEBEB;

.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #ffa4b5;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
        background-color: #c57786;
        color: #ffd3d3;
    }
}